[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jnickels
[access "refs/for/refs/*"]
	read = group user/jnickels
	push = group user/jnickels
	label-Code-Review = -2..+2 group user/jnickels
	label-Verified = -1..+1 group user/jnickels
	rebase = group user/jnickels
	removeReviewer = group user/jnickels
	submit = group user/jnickels
[access "refs/heads/*"]
	read = group user/jnickels
	create = group user/jnickels
	push = +force group user/jnickels
	pushMerge = group user/jnickels
[access "refs/tags/*"]
	push = +force group user/jnickels
	pushTag = group user/jnickels
	pushSignedTag = group user/jnickels
